<app-employee-navbar></app-employee-navbar>
<div class="chat-container">
  <div class="chat-header">
    <div class="header-left">
      <h2>{{ ticketInfo.title }}</h2>
      <div class="ticket-info">
      <span class="status" [class.active]="ticketInfo.status === 'OPEN' || ticketInfo.status === 'IN_PROGRESS'">
        <i class="fas fa-circle"></i>
        {{ ticketInfo.status === 'OPEN' || ticketInfo.status === 'IN_PROGRESS' ? 'Active' : 'Closed' }}
      </span>
      </div>
    </div>
    <div class="header-actions">
      <button *ngIf="ticketInfo.status === 'OPEN'"
              class="action-btn action-btn--take"
              (click)="takeTicket()">
        <i class="fas fa-check"></i>
        <span>Take ticket</span>
      </button>
      <button *ngIf="ticketInfo.status === 'IN_PROGRESS'"
              class="action-btn action-btn--close"
              (click)="closeTicket()">
        <i class="fas fa-check"></i>
        <span>Close ticket</span>
      </button>
    </div>
  </div>

  <div class="messages-container" #messageContainer>
    <div *ngFor="let message of messages; let i = index"
         class="message"
         [ngClass]="{
               'sent': message.senderType === 'EMPLOYEE',
               'received': message.senderType !== 'EMPLOYEE'
             }">
      <div class="message-content">
        <p>{{ message.content }}</p>
        <div class="message-meta">
          <span class="timestamp">{{ message.timestamp | date:'HH:mm' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="message-form-container">
    <form class="message-form" (ngSubmit)="sendMessage()">
          <textarea
            [(ngModel)]="newMessage"
            name="message"
            placeholder="Type a message..."
            rows="1"
            required
            (keydown)="onKeydown($event)"></textarea>
      <button type="submit" [disabled]="!newMessage.trim()">
        <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>
