<app-new-navbar></app-new-navbar>

<div class="container-fluid card login-container">
  <h3 class="text-center mt-3">Login</h3>
  <hr>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="email@example.com"
      required
      [(ngModel)]="authRequest.email"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput [type]="hide() ? 'password' : 'text'"
      [(ngModel)]="authRequest.password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="full-width-btn"
    (click)="login()"
  >
    Log in
  </button>
  <div class="register">
    Don't have an account?&nbsp;
    <a mat-raised-button (click)="register()" target="_blank">Register</a>
  </div>
</div>




