<!-- admin-countries.component.html -->
<div class="admin-countries">
  <app-admin-navbar></app-admin-navbar>

  <div class="admin-countries__container">
    <div class="admin-countries__header">
      <div class="header-content">
        <h2 class="header-title">List of countries</h2>
      </div>
    </div>

    <div class="countries-table-container">
      <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Poland"
          #input
        >
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="countries-table mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="name-column">Name</th>
          <td mat-cell *matCellDef="let country" class="name-column">
            {{country.name}}
          </td>
        </ng-container>

        <!-- Enabled Column -->
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef class="enabled-column">Enabled</th>
          <td mat-cell *matCellDef="let country" class="enabled-column">
            <mat-slide-toggle
              color="primary"
              [(ngModel)]="country.enabled"
              (change)="onToggleChange(country)"
            >
            </mat-slide-toggle>
          </td>
        </ng-container>

        <!-- No Data Row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data-cell" colspan="2">
            No data matching the filter "{{input.value}}"
          </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
