<mat-toolbar class="employee-navbar">
  <div class="employee-navbar__container">
    <div class="employee-navbar__brand">
      <a routerLink="/employee" class="brand-link">
        <span class="brand-text">EMPLOYEE PANEL</span>
      </a>
    </div>

    <nav class="employee-navbar__nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a mat-button
             class="nav-link"
             routerLink="/employee/flights"
             routerLinkActive="is-active"
             aria-label="Manage Flights">
            <mat-icon class="nav-icon">flight_takeoff</mat-icon>
            <span class="nav-text">Flights</span>
          </a>
        </li>
        <li class="nav-item">
          <a mat-button
             class="nav-link"
             routerLink="/employee/reservations"
             routerLinkActive="is-active"
             aria-label="Manage Reservations">
            <mat-icon class="nav-icon">bookmark</mat-icon>
            <span class="nav-text">Reservations</span>
          </a>
        </li>
        <li class="nav-item">
          <a mat-button
             class="nav-link"
             routerLink="/employee/issues"
             routerLinkActive="is-active"
             aria-label="Client Issues"
             [matBadge]="28"
             matBadgeColor="warn"
             matBadgeSize="medium">
            <mat-icon class="nav-icon">help</mat-icon>
            <span class="nav-text">Support Tickets</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="employee-navbar__actions">
      <span class="user-email">{{ Email }}</span>
      <button mat-icon-button
              class="action-button"
              (click)="logout()"
              aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
