<div class="flight-card-modern">
  <div class="flight-details">
    <div class="flight-time">
      <span class="time">{{ flight.departureDate | date: 'HH:mm' }}</span>
      <span class="airport-code">{{ flight.departureAirportDto.IATACode }}</span>
    </div>
    <div class="flight-route">
      <span class="route-icon">✈</span>
      <span class="duration">Non-stop, 5h 40m</span>
    </div>
    <div class="flight-time">
      <span class="time">{{ flight.arrivalDate | date: 'HH:mm' }}</span>
      <span class="airport-code">{{ flight.arrivalAirportDto.IATACode }}</span>
    </div>
  </div>

  <div class="flight-cabin-prices">
    <div
      class="price-box"
      *ngFor="let key of cabinClassPriceKeys()"
      [ngClass]="{ 'highlight': key === 'Economy' }"
    >
      <span class="cabin-class">{{ key }}</span>
      <span class="price">{{ flight.cabinClassPrices[key] | currency }}</span>
      <span class="offer">Special offer</span>
    </div>
  </div>
</div>
