<app-admin-navbar></app-admin-navbar>
<div class="admin-employees">
  <div class="admin-employees__container">
    <div class="admin-employees__header">
      <div class="header-content">
        <h2 class="header-title">Employees</h2>
        <button mat-raised-button
                color="primary"
                routerLink="/admin/employees/add"
                class="header-action">
          <mat-icon>add</mat-icon>
          Add Employee
        </button>
      </div>
    </div>

    <div class="employees-list">
      <div class="employee-item" *ngFor="let employee of employees">
        <app-employee-card [employee]="employee"></app-employee-card>
      </div>
    </div>
  </div>
</div>
